body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

.latest-news-section,
.main-news,
.pictorial-news-section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.latest-news-section {
    width: 25%;
}

.main-news {
    width: 40%;
}

.pictorial-news-section {
    width: 25%;
    text-align: center;
}

.pictorial-news-section img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}